alias b='blade'
alias bg='blade gw'
alias bgd='blade gw deploy -Ddeploy.docker.container.id=dxp'
alias bs='blade sh'
alias d='docker'
alias dc='docker-compose'
alias dlf='docker logs -f'
alias deit='docker exec -it'
alias driteb='docker run -it --entrypoint bash'
alias dsd='docker start dxp && docker logs -f dxp'
alias dSd='docker stop dxp'
alias dxp='function _dr(){ docker pull liferay/dxp:7.4.13-u$1 && docker run -it --name dxp -m 8g -p 8080:8080 --network host liferay/dxp:7.4.13-u$1};_dr'
alias ea='vim ~/.aliases'
alias ebrc='vim ~/.bashrc'
alias egc='vim ~/.gitconfig'
alias evrc='vim ~/.vimrc'
alias ezrc='vim ~/.zshrc'
alias ezh='vim ~/.zsh_history'
alias g='git'
alias ga='git aliases | peco | yank'
alias gb='git branch | peco | yank'
alias gcob='git co $(git br | peco)'
alias gdt='git difftool'
alias gdtum='git difftool upstream/master'
alias gf='git files | yank'
alias gfv='git files | yank | xargs -o vim'
alias ghprsw='gh pr -s wesleygong -b ee-6.2.x'
alias ghprsl='gh pr -s liferay'
alias gl='git ls | peco | yank'
alias glp='git log --pretty=format:%s'
alias diff-tickets='git log prd..HEAD --pretty=oneline | perl -ne '"'"'{ /(\w+)-(\d+)/ && print "$1-$2\n" }'"'"' | sort | uniq'
alias gw='gradle wrapper'
alias gsa='git status | yank | xargs git add'
alias hpb='history | cut -c 8- | peco | xargs -0 bash -c'
alias hpy='history | cut -c 8- | peco | yank -lx'
alias j8='export JAVA_HOME=/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home'
alias j11='export JAVA_HOME=/Library/Java/JavaVirtualMachines/adoptopenjdk-11.jdk/Contents/Home'
alias l='liferay'
alias prs='cd ~/repos/liferay-portal && git pull --rebase upstream master && gh pr list | yank | sed "s/#//" | xargs -o gh pr checkout '
alias portal='cd ~/repos/liferay-portal'
alias setbash='chsh -s /bin/bash'
alias setzsh='chsh -s /usr/local/bin/zsh'
alias sbrc='source ~/.bashrc'
alias szrc='source ~/.zshrc'
alias sf='find . -name "*" | grep -v node_modules | xargs csf'
alias sl='~/repos/bundles/tomcat-9.0.56/bin/catalina.sh run'
alias v='vim'
alias v.='vim .'
alias vh='vim ~'
alias vpn='open /Applications/OpenVPN\ Connect/OpenVPN\ Connect.app/ && sudo /Library/Frameworks/OpenVPNConnect.framework/Versions/Current/usr/sbin/ovpnagent' 
alias vr='vim ~/repos'
alias scratch='vim ~/Documents/scratch.txt'
alias www='cd ~/repos/lfris-www'

export az="allen-ziegenfus"
export gh='node-gh'
export jt="jotchon"
export REVIEW_BASE="master"
export rs="ryanschuhler"
export rp="lionah"
export wg="wesleygong"
