[user]
    email = ryan.schuhler@liferay.com
    name = Ryan Schuhler
[commit]
	gpgsign = true
[core]
	autocrlf = input
	editor = vim
	ignorecase = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[gpg]
	format = ssh
[merge]
	conflictStyle = zdiff3
	tool = vimdiff
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
