[commit]
	gpgsign = true
[core]
	autocrlf = input
	editor = vim
	ignorecase = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[gpg]
	format = ssh
[merge]
	conflictStyle = zdiff3
	tool = vimdiff